.wrapper {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.people-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.people-table thead {
    background-color: #71B986;
    text-align: left;
}

.people-table th, 
.people-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.people-table thead td {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.people-table thead td:hover {
    background-color: #71B986;
}