.navbar {
  background-color: #71B986;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 5px;
}